@import "profile";
@import "dontknow";

$bg-color: #2c3e50;
$hover-color: #e7e414;
$text-color: white;

p{
    font-size: 24px;
}
nav{

    ul{
        background: $bg-color;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: inline-block;
    }
    a{
        color: $text-color;
        display: inline-block;
        padding: 10px 16px;
        text-decoration: none;

    }
    a:hover{
        background: $hover-color;
    }
}